
<title>按时间查询</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>按时间查询</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="search-tab">
          <ul class="layui-tab-title">
            <li class="layui-this">详细数据</li>
            <li>数据图表</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
              <form class="layui-form" action="" lay-filter="form">
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">时间范围</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input type="text" name="start" autocomplete="off" class="layui-input" lay-verify="number" placeholder="0">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input type="text" name="end" autocomplete="off" class="layui-input" lay-verify="number" placeholder="500">
                    </div>
                    <button type="button" class="layui-btn layui-btn-normal" onclick="search()">
                      <i class="layui-icon">&#xe615;</i> 搜索
                    </button>
                  </div>
                </div>
              </form>
              <table id="table" lay-filter="test"></table>
            </div>
            <div class="layui-tab-item">
              <div class="layui-row layui-col-space1">
                <div class="layui-col-md4">
                  <form class="layui-form" action="" lay-filter="chart-form">
                    <div class="layui-form-item" id="chart-form">
                      <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 20%;">
                          <input type="text" name="start-1" autocomplete="off" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')" placeholder="0" value="0">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 20%;">
                          <input type="text" name="end-1" autocomplete="off" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')" placeholder="10" value="10">
                        </div>
                        <button type="button" class="layui-btn layui-btn-normal" onclick="addForm()">
                          <i class="layui-icon">&#xe624;</i>
                        </button>
                        <button type="button" class="layui-btn layui-btn-normal" onclick="searchChart()">
                          <i class="layui-icon">&#xe615;</i> 查看图表
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="layui-col-md8">
                  <div id="bar-chart" style="width: 100%;height: 300px"></div>
                </div>
              </div>
              <div class="layui-row layui-col-space1">
                <div class="layui-col-md4">
                </div>
                <div class="layui-col-md8">
                  <div id="pie-chart" style="width: 100%;height: 500px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use('times', layui.factory('times'));

  function search() {
    layui.reloadTable();
  }

  function searchChart() {
    layui.searchChart();
  }

  function addForm() {
    layui.addForm();
  }

  function delForm(num) {
    layui.delForm(num);
  }
</script>